@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.toolbar {
  display: flex;
  width: 375px;
  height: 48px;
  background-color: #e3e3e3;
  justify-content: space-between;
  margin: auto auto;
}

.hambergur-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  color: #6070ff;
  margin: 10px 10px 10px 10px;
  font-size: 18px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 4px;
  cursor: pointer;
  font-weight: 800;
}

.main-content {
  display: flex;
  width: 375px;
  height: 600px;
  background-color: rgb(252, 252, 252);
  margin: auto auto;
}

.heading-1 {
  color: #172b4d;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.37px;
  padding-top: 60px;
}

.heading-2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: -20px 0 0 0;
}

.paragraph {
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-top: -17px;
}

.text-content {
  margin: 26px;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  list-style-type: none;
}

.social {
  padding: 10px;
  cursor: pointer;
}

.bg-img {
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 243px;
  margin-top: 58px;
}

.main-content2 {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 600px;
  margin: auto auto;
  background-color: rgb(252, 252, 252);
  padding-top: 20px;
}

.snapshort1 {
  width: 295px;
  height: 220px;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
}

.tonic h3 {
  width: 295px;
  height: 36px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy p {
  width: 55px;
  height: 16px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  padding-bottom: 20px;
  justify-content: space-between;
  list-style: none;
}

.p {
  width: 295px;
  height: 76px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  padding-top: 20px;
}

.input-text {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 5px;
  letter-spacing: 0.3em;
}

.input-text .ipbox {
  display: flex;
  flex-direction: column;
}

.ipbox .html {
  width: 29px;
  height: 16px;
  border-radius: 2px solid;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #6070ff;
}

.ipbox .css {
  width: 21px;
  height: 16px;
  border-radius: 2px solid;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #6070ff;
}

.ipbox .jskript {
  width: 65px;
  height: 16px;
  border-radius: 2px solid;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #6070ff;
}
